@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;700&Changa:wght@400;700&family=Inter:wght@300;400;500;600;700&family=Noto+Sans+TC:wght@400;700&display=swap");
@import "./variables.scss";

// variables
$card-width: 1820px;
$card-radius: 10px;
$main-color: #ffed4c;
$main-dark: #353535;
$card-gap: 55px;

html,
body {
    font-family: "Noto Sans TC", sans-serif;
    overflow-x: hidden;
}

img,
video {
    max-width: 100%;
}

strong {
    font-weight: bold;
}

main {
    padding: $card-gap;
    background-color: #253036;

    .card:not(.introduction) {
        margin-bottom: $card-gap;
    }
}

header {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 10;
    background-color: #fff;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;
    box-shadow: 0 5px 10px rgba($main-dark, 0.5);
    @include translate(-50%, 0);

    &.fixed {
        position: fixed;
        left: 50%;
        z-index: 999;
        border-radius: $card-radius;
        transition: transform 0.3s ease-in-out;
        -webkit-transition: transform 0.3s ease-in-out;
        -moz-transition: transform 0.3s ease-in-out;
        -ms-transition: transform 0.3s ease-in-out;
        -o-transition: transform 0.3s ease-in-out;

        &.hide {
            @include translate(-50%, -100%);
        }
    }

    .header-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 32px 8px 40px;
    }

    .nav-toggle {
        $nav-line-width: 2.727px;
        display: flex;
        position: relative;
        align-items: stretch;
        border-bottom: $nav-line-width solid $main-dark;
        cursor: pointer;
        z-index: 100;

        .nav-icon {
            width: 13px;
            position: relative;
            flex-shrink: 0;

            .line {
                width: 100%;
                height: $nav-line-width;
                display: block;
                position: absolute;
                left: 0;
                background-color: $main-dark;
                @include transitionAll(0.35);
                @include translate(0, -50%);

                &.line-1 {
                    top: 33%;
                }

                &.line-2 {
                    top: 69%;
                }
            }
        }

        .menu-text {
            color: $main-dark;
            font-family: Inter;
            font-size: 13px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            padding-left: 2.73px;
        }

        &.active {
            .nav-icon {
                .line {
                    top: 50%;
                    left: 50%;

                    &.line-1 {
                        @include translateScaleRotate(-50%, -50%, 1, 45deg);
                    }

                    &.line-2 {
                        @include translateScaleRotate(-50%, -50%, 1, -45deg);
                    }
                }
            }

            +.nav-content {
                opacity: 1;
                right: 0;
                box-shadow: -5px 5px 10px rgba($main-dark, 0.5);
                @include translate(0, 0);
            }
        }
    }

    .nav-content {
        width: 90%;
        min-height: calc(100vh - 240px);
        max-width: 226px;
        display: flex;
        position: absolute;
        flex-flow: column;
        justify-content: space-between;
        top: 0;
        right: -55px;
        z-index: 99;
        padding: 95px 32px 25px;
        background-color: $main-color;
        border-top-right-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
        overflow-y: auto;
        opacity: 0;
        @include translate(100%, 0);
        // @include transitionAll(0.3);
        transition:
            right 0.3s ease-in-out 0s,
            transform 0.3s ease-in-out 0s,
            opacity 0.3s ease-in-out 0.1s;
        -webkit-transition:
            right 0.3s ease-in-out 0s,
            transform 0.3s ease-in-out 0s,
            opacity 0.3s ease-in-out 0.1s;
        -moz-transition:
            right 0.3s ease-in-out 0s,
            transform 0.3s ease-in-out 0s,
            opacity 0.3s ease-in-out 0.1s;
        -ms-transition:
            right 0.3s ease-in-out 0s,
            transform 0.3s ease-in-out 0s,
            opacity 0.3s ease-in-out 0.1s;
        -o-transition:
            right 0.3s ease-in-out 0s,
            transform 0.3s ease-in-out 0s,
            opacity 0.3s ease-in-out 0.1s;

        nav {
            ul {
                display: flex;
                flex-flow: column;
                align-items: flex-end;
                gap: 35px;

                li {
                    $dis: 22px;
                    $dot-size: 3px;

                    width: 4em;
                    position: relative;
                    text-align: center;

                    a {
                        color: #888;
                        font-family: Inter;
                        font-size: 14px;
                        font-weight: 500;
                        text-decoration: none;
                    }

                    &::before {
                        width: 0;
                        height: 0;
                        border: 100%;
                        position: absolute;
                        top: 50%;
                        left: -$dis;
                        background-color: #000;
                        content: "";
                        @include transitionAll(0.25);
                    }

                    &::after {
                        width: 0;
                        height: 1px;
                        position: absolute;
                        bottom: -10px;
                        right: 0;
                        background-color: $main-dark;
                        content: "";
                        @include transitionAll(0.25);
                    }

                    &.active {
                        a {
                            color: $main-dark;
                            text-shadow: 0px 4px 4px rgba(53, 53, 53, 0.25);
                        }

                        &::before {
                            width: $dot-size;
                            height: $dot-size;
                        }

                        &::after {
                            width: calc(100% + #{$dis});
                        }
                    }
                }
            }
        }

        .nav-footer {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
            a{
                text-decoration: none;
            }

            p {
                text-align: center;
                margin-top: 11px;
                color: $main-dark;
                text-align: center;
                font-family: Inter;
                font-size: 10px;
                font-weight: 400;
                line-height: 1.25;
            }
        }
    }
}

footer {
    .footer-copyright{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 20px;
        span{
            font-weight: bold;
        }
    }
}

main .card {
    border-radius: $card-radius;
    background-color: #fff;

    &.kv {
        position: relative;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-bottom: 2.8%;
        padding-top: 80px;
        background-color: transparent;
    }

    &.fun,
    &.video {
        background-color: transparent;
    }
}

.kv-bg {
    height: calc(100vh - 280px);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    // @media (min-aspect-ratio: 48/25) {
    //     height: calc(100vh - 200px);
    // }
}

.kv-logo {
    width: 11.76%;
    position: absolute;
    top: 80px;
    left: 4.94%;
    z-index: 3;
}

.kv-slogan {
    width: 42%;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    @include translate(-50%, 18%);

    img {
        // filter: drop-shadow(6px 6px 13px $main-color);
        animation: sloganShadow 5s linear 0s infinite;
    }
}

@keyframes sloganShadow {
    0% {
        filter: drop-shadow(6px 6px 13px $main-color);
    }

    25% {
        filter: drop-shadow(-6px 6px 13px #ffa9a9);
    }

    50% {
        filter: drop-shadow(-6px -6px 13px #fff27a);
    }

    75% {
        filter: drop-shadow(6px -6px 13px #b5ff9c);
    }

    100% {
        filter: drop-shadow(6px 6px 13px $main-color);
    }
}

.kv-woman {
    width: 22.2%;
    position: absolute;
    bottom: 0;
    left: 7.36%;
    z-index: 2;

    .woman {
        width: 84.9%;
    }

    .woman-name {
        width: 51.48%;
        position: absolute;
        right: 0;
        bottom: 9%;
        z-index: 2;
    }
}

.card-header {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $main-color;
    border-top-left-radius: $card-radius;
    border-top-right-radius: $card-radius;

    h1 {
        color: $main-dark;
        // font-family: Changa;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-shadow: 0.05em 0.05em 0.1em rgba(53, 53, 53, 0.47);
    }
}

.card-content {
    border-bottom-left-radius: $card-radius;
    border-bottom-right-radius: $card-radius;
}

%card-shadow {
    width: 100%;
    height: 173px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    background-image: linear-gradient(180deg, #beb9c3 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
}

%card-same {
    display: flex;
    position: relative;
    flex-flow: column;
    align-items: center;
    z-index: 3;
    background-color: #fff;
    border-bottom-left-radius: $card-radius;
    border-bottom-right-radius: $card-radius;
}

$card-gap: 6px;

.fun .card-content {
    width: 100%;
    display: flex;
    position: relative;
    align-items: stretch;
    gap: $card-gap;

    .card-container {
        width: 100%;
        position: relative;
        z-index: 7;
        @include transitionAll(0.3);
        // transition-delay: 0.2s;
    }

    .left-card,
    .right-card {
        &:hover {
            .card-container {
                @include scale(1.04);
                // animation: cardHover 0.3s ease 0s alternate forwards;
            }
        }
    }

    @keyframes cardHover {
        0% {
            @include scale(1);
        }

        75% {
            @include scale(1.07);
        }

        100% {
            @include scale(1.04);
        }
    }

    .left-card {
        width: 64.37%;
        flex-shrink: 0;
        padding: 0 25px;
        overflow: hidden;
        @extend %card-same;

        &::before {
            @extend %card-shadow;
        }
    }

    .right-card {
        flex-grow: 1;
        padding: 0 20px;
        @extend %card-same;

        &::before {
            width: calc(100% + $card-gap);
            left: -#{$card-gap + 2px};
            @extend %card-shadow;
        }

        &::after {
            width: 10px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 5;
            background-image: url("../images/split_line.png");
            @include translate(-80%, 0);
            content: "";
        }

        .fun-item {
            position: relative;
            z-index: 8;
        }
    }

    .fun-split {
        display: flex;
        position: relative;
        align-items: stretch;
        gap: 4%;
        z-index: 8;

        .fun-item {
            width: 50%;
        }
    }

    .fun-item {
        .fun-title {
            display: flex;
            justify-content: flex-end;
        }

        .fun-content {
            h1 {
                color: $main-dark;
                text-align: center;
                font-family: Inter;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .fun-images {
            display: flex;
            justify-content: center;
            gap: 2.5%;

            .fun-image {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: column;

                .same-height1 {
                    height: 420px;
                    display: flex;
                    align-items: center;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }

                h2 {
                    color: $main-dark;
                    font-family: Inter;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin-top: 16px;
                    text-shadow: 3px 3px 6px #d6d6d6;
                }
            }
        }
    }
}

.card-instructions-wrapper {
    width: 90%;
    position: relative;
    margin: 20px auto 0;
    padding-bottom: 46px;

    // &::after {
    //     width: 100%;
    //     height: 2px;
    //     position: absolute;
    //     left: 0;
    //     bottom: 0;
    //     background-color: $main-dark;
    //     content: "";
    // }

    .card-instructions {
        width: 100%;
        min-height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #cad2ff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
        border-radius: 24px;
        padding: 5px;
        box-sizing: border-box;

        h3 {
            color: $main-dark;
            text-align: center;
            font-family: Inter;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
}

.card-description {
    width: 90%;
    max-width: 748px;
    margin: 40px auto 0;
    padding-bottom: 30px;

    p {
        color: $main-dark;
        font-family: Inter;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.fun-title {
    width: 250px;
    margin-left: auto;
}

.share {
    .card-content {
        position: relative;
        padding: 32px 33px;
        // background: linear-gradient(117deg, rgba(236, 241, 176, 1) -2.19%, #c3c1c2 46.9%, rgb(93, 36, 150) 96.9%);
        background: linear-gradient(117deg, rgb(187 193 116) -2.19%, #c3c1c2 46.9%, rgb(93, 36, 150) 96.9%);
        // background: linear-gradient(117deg, rgba(236, 241, 176, 0.25) -2.19%, #C3C1C2 46.9%, rgba(93, 36, 150, 0.00) 96.9%);


        .fun-title {
            position: absolute;
            top: 0;
            right: 18px;
        }
    }

    .share-content {
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 10px;
        padding-bottom: 3%;

        .share-text-content {
            &.align-center {
                align-self: center;
            }

            &.align-bottom {
                align-self: flex-end;
            }
        }

        h2 {
            color: #fff;
            font-family: Inter;
            font-size: 60px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-align: left;
            padding-bottom: 16px;
            margin-bottom: 25px;
            border-bottom: 3px solid $main-color;
            text-shadow: 3px 3px 3px #A6A6A4;
        }

        p {
            color: #fff;
            font-family: Inter;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin-bottom: 1em;
            text-shadow: 3px 3px 3px #A6A6A4;
        }

        .winners{
            display: flex;
            gap: 10px;
        }

        .reddot-winner {
            width: 140px;
            margin-bottom: 3px;
        }
        .hi-res-winner{
            width: 60px;
        }

        .share-image-content {
            display: flex;
            flex-flow: column;
            justify-content: center;

            .award-fidelio {
                >div {
                    display: flex;
                    align-items: center;

                    .hi-res {
                        width: 60px;
                    }
                }
            }

            .award-tat1235 {
                >div {
                    position: relative;
                    top: -25px;
                    margin-left: auto;
                }
            }

            .award-fidelio,
            .award-tat1235 {
                >div {
                    width: 76%;
                }
            }
        }
    }

    .activity-description {
        background-color: #cad2ff;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25) inset;
        padding: 23px 15px 45px;

        h2 {
            color: $main-dark;
            text-align: center;
            font-family: Inter;
            font-size: 34px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 0.88em;
        }

        p {
            color: $main-dark;
            text-align: center;
            font-family: Inter;
            font-size: 30px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
}

.product-wrapper {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    grid-template-rows: repeat(4, auto);
    font-family: Inter;
    line-height: 1.25;
    color: $main-dark;
    column-gap: 2%;
    padding: 5% 4%;

    .product-switch {
        display: flex;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .product-images {
        display: flex;
        align-items: center;
        grid-row-start: 2;
        grid-row-end: 6;
        overflow: hidden;
    }

    .product-title {
        font-weight: bold;
        margin-bottom: 28px;

        h1 {
            font-size: 45px;

            span {
                font-weight: 300;
                font-size: 50px;
            }

            sub {
                font-size: 20px;
                font-weight: 500;
            }
        }

        h3 {
            font-size: 36px;
        }
    }

    .product-description {
        margin-bottom: 24px;

        h4 {
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 28px;
        }

        p {
            font-size: 22px;
            font-weight: 400;
        }
    }

    .product-logos {
        padding-bottom: 10px;
        border-bottom: 3px solid $main-dark;
        margin-bottom: 22px;
    }

    .product-links {
        h5 {
            color: #353535;
            font-family: Inter;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 24px;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 27px;
        }
    }

    .swiper-wrapper {
        align-items: center;
    }

    .swiper-slide {
        text-align: center;
        box-sizing: border-box;

        &.tv-padding {
            padding: 50px 80px;
        }

        .slide-image-wrapper {
            max-width: 90%;
            margin: 0 auto;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        width: 65px;
        height: 51.44px;
    }

    .swiper-button-prev,
    .swiper-rtl .swiper-button-next {
        background-image: url("../images/arrow-left.svg");
    }

    .swiper-button-next,
    .swiper-rtl .swiper-button-prev {
        background-image: url("../images/arrow-right.svg");
    }

    .swiper-button-next:after,
    .swiper-rtl .swiper-button-prev:after,
    .swiper-button-prev:after,
    .swiper-rtl .swiper-button-next:after {
        content: none;
    }

    .swiper-pagination {
        position: initial;
    }

    .swiper-pagination-bullet {
        width: 38.595px;
        height: 6.5px;
        border-radius: 99px;
        border: none;
        background-color: #d9d9d9;
    }

    .swiper-pagination-bullet-active {
        background-color: $main-color;
    }

    .tv-wrapper {
        position: relative;

        .tv {
            position: relative;
            z-index: 3;
        }

        .tv-shadow {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 2;
            animation: tvShadow 2s ease-in-out 0s infinite alternate;
            @include translateScaleRotate(-50%, -50%, 1.14, 0);
        }
    }
}

.shop.card {
    .card-content {
        padding: 32px 33px;
    }

    .shop-wrapper {
        h1 {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 32px;
            font-weight: 400;
        }
    }
}

@keyframes tvShadow {
    0% {
        @include translateScaleRotate(-50%, -50%, 1.12, -8deg);
    }

    100% {
        @include translateScaleRotate(-50%, -50%, 1.2, 8deg);
    }
}

.card.video {
    display: none;
    .card-header {
        height: 90px;

        ul {
            display: flex;
            align-items: center;
            gap: 68px;

            li {
                position: relative;

                &::after {
                    width: 0%;
                    height: 2px;
                    position: absolute;
                    left: 50%;
                    bottom: -15px;
                    background-color: $main-dark;
                    box-shadow: 0 5px 6px rgba($main-dark, 0.5);
                    opacity: 0;
                    @include transitionAll(0.4);
                    @include translate(-50%, 0);
                    content: "";
                }

                &.active {
                    a {
                        color: $main-dark;
                        text-shadow: 0 0.1em 0.1em rgba($main-dark, 0.5);
                    }

                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            a {
                color: #fff;
                text-align: center;
                font-family: Catamaran;
                font-size: 24px;
                font-weight: 700;
                text-decoration: none;
                text-shadow: 0 0.1em 0.1em transparent;
                @include transitionAll(0.4);
            }
        }
    }

    .card-content {
        .video-wrapper {
            position: relative;
            padding-bottom: 45%;

            >iframe {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 6;
            }
        }
    }

    .video-footer {
        min-height: 280px;
        display: flex;

        .vf-wrapper {
            display: flex;
            position: relative;

            .vf-bg {
                position: relative;
                z-index: 1;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }

            .vf-filter {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: linear-gradient(-45deg, #f36e6e, $main-color , #56de34, #51b5fe, #e046a5);
                background-size: 400% 400%;
                animation: video-footer-filter 5s ease 0s infinite;
                mix-blend-mode: multiply;
            }

            @keyframes video-footer-filter {
                0% {
                    background-position: 0% 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0% 50%;
                }
            }

            .vf-content {
                width: calc(50% + 55px);
                height: 80%;
                display: flex;
                position: absolute;
                align-items: stretch;
                gap: 49px;
                top: 50%;
                right: -55px;
                background-color: rgba($main-color, 0.85);
                z-index: 3;
                border-top-left-radius: 999px;
                border-bottom-left-radius: 999px;
                @include translate(0, -50%);
                padding: 30px 10px;
                box-sizing: border-box;

                .vf-name {
                    width: 112px;
                    height: 112px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    align-self: center;
                    border-radius: 100%;
                    background-color: #d9d9d9;
                    margin-left: 46px;
                    flex-shrink: 0;

                    h1 {
                        color: $main-dark;
                        text-align: center;
                        font-family: Inter;
                        font-size: 36px;
                        font-weight: 600;
                    }
                }

                .vf-description {
                    display: flex;
                    justify-content: space-around;
                    flex-flow: column;

                    .vf-stars {
                        display: flex;
                        gap: 5px;
                        margin-bottom: 20px;
                    }

                    h1 {
                        color: $main-dark;
                        font-family: Inter;
                        font-size: 24px;
                        font-weight: 600;
                        margin-bottom: 15px;
                    }

                    h2 {
                        color: $main-dark;
                        font-family: Inter;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 1.25;
                    }

                    .read-more {
                        display: flex;
                        justify-content: flex-end;
                        align-items: flex-end;
                        margin-top: 25px;

                        a {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 999px;
                            border: 1px solid #000;
                            text-decoration: none;
                            color: #000;
                            font-family: Inter;
                            font-size: 15px;
                            font-weight: 400;
                            padding: 2.5px 15px;
                        }
                    }
                }
            }
        }
    }
}

.card.introduction {
    height: 800px;
    max-height: 90vh;
    border-radius: $card-radius;
    overflow: hidden;

    .card-content {
        height: 100%;
        display: flex;
        align-items: stretch;

        .intr-nav {
            width: 16.86%;
            min-width: 220px;
            display: flex;
            justify-content: flex-end;
            flex-shrink: 0;
            background-color: $main-color;
            padding: 50px 0;

            ul {
                display: flex;
                flex-flow: column;

                li {
                    width: 69%;
                    height: 80px;
                    min-width: 212px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: transparent;
                    @include transitionAll(0.35);

                    a {
                        color: $main-dark;
                        font-family: Inter;
                        font-size: 32px;
                        font-weight: 600;
                        text-decoration: none;
                        @include transitionAll(0.35);
                    }

                    &.active {
                        background-color: #fff;
                        border-top-left-radius: 60px;
                        border-bottom-left-radius: 60px;

                        a {
                            opacity: 1;
                            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
                    }
                }
            }
        }

        .intr-content-wrapper {
            display: flex;
            align-items: stretch;
            flex-grow: 1;
            padding: 23px;

            .intr-content {
                width: 100%;
                display: none;
                align-items: stretch;
                background-color: #f5f5f6;
                padding: 26px 26px 20px;

                .intr-inner {
                    width: 100%;
                    overflow-y: auto;
                    color: $main-dark;
                    font-family: Inter;
                    font-size: 24px;
                    font-weight: 400;
                    line-height: 1.25;

                    &::-webkit-scrollbar-track {
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        border-radius: 25px;
                        background-color: #f5f5f5;
                    }

                    &::-webkit-scrollbar {
                        width: 25px;
                        background-color: #f5f5f5;
                        @media screen and (max-width:991px) {
                            width: 10px;
                        }
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 15px;
                        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                        background-color: $main-color;
                    }

                    h1 {
                        font-size: 32px;
                        font-weight: bold;
                        margin-bottom: 0.15em;
                    }

                    .number-list {
                        margin-bottom: 1em;
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }
    }
}

.number-list {
    list-style: decimal;
    list-style-position: inside;
    padding-left: 1em;
    text-indent: -1.15em;
}

.circle-list {
    list-style: disc;
    list-style-position: inside;
    padding-left: 2em;
    text-indent: -1.4em;
}

.qr-codes {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 25px;

    .qr-code {
        width: 258px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        a{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        span {
            color: #000;
            text-align: center;
            font-family: Inter;
            font-size: 30px;
            font-weight: 400;
        }
    }
}

.step-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
    >div{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-grow: 1;
        }
    }
    img{
        max-width: 300px;
    }
    .qrcode {
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            text-align: center;
            text-shadow: none;
            gap: 10px;
        }
        img{
            width: 250px;
            margin: 0 auto;
        }
    }
    span{
        display: inline-block;
        // justify-self: center;
        font-size: 30px;
        color: $main-dark;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}

.pc {
    display: inherit !important;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 2560px) {
    main .card {
        max-width: 1820px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .pc {
        display: none !important;
    }

    .mobile {
        display: inherit !important;
    }

    .kv-logo {
        width: 36%;
        max-width: 200px;
    }

    main {
        padding: 0 0 10px;
    }

    .mobile-padding {
        padding: 25px;
    }

    .kv-bg {
        height: 70.5vw;
    }

    .kv-woman {
        width: 24.65%;
        left: 7px;

        .woman-name {
            width: 73.58%;
            left: 50%;
            @include translate(-50%, 0);
        }
    }

    .kv-slogan {
        width: 60.46%;
        @include translate(-50%, 3%);
    }

    .card-header {
        height: 60px;

        h1 {
            font-size: 32px;
        }
    }

    .fun .card-content {
        background-color: #fff;

        &::before {
            width: 100%;
            height: 70px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 6;
            background-image: linear-gradient(180deg, #beb9c3 0%, rgba(255, 255, 255, 0) 100%);
            content: "";
        }

        .fun-item.mobile {
            width: 100%;
            flex-flow: column;
            position: relative;
            z-index: 7;

            .fun-content {
                h1 {
                    font-size: 20px;
                }
            }

            .fun-images {
                width: 90%;
                max-width: 450px;
                margin: 20px auto 0;
                gap: 12px;

                .fun-image {
                    h2 {
                        font-size: 14px;
                        margin-top: 15px;
                    }
                }
            }
        }
    }

    .card .card-content .fun-title {
        width: 200px;
        justify-content: flex-start;
        margin: 0;
    }

    .card-instructions-wrapper {
        padding-bottom: 20px;

        .card-instructions {
            max-width: 450px;
            margin-left: auto;
            margin-right: auto;

            h3 {
                font-size: 20px;
            }
        }
    }

    .card-description {
        margin-top: 20px;

        p {
            font-size: 14px;
            text-align: center;
        }
    }

    .mask-image {
        max-width: 250px;
        margin: 0 auto;
    }

    .tah4205-image {
        max-width: 200px;
        margin: 0 auto;
    }

    .card.share {
        .card-content {
            padding: 0 0 10px;

            .fun-title {
                position: initial;
            }
        }
    }

    .share {
        .share-content {
            flex-flow: column;
            gap: 20px;

            .pl {
                padding-left: 15px;
            }

            .pr {
                padding-right: 15px;
            }

            .text-left {
                text-align: left;
            }

            .text-right {
                text-align: right;
            }

            h2 {
                width: 95%;
                font-size: 20px;
                padding-bottom: 7px;
                margin-bottom: 13px;
            }

            p {
                font-size: 14px;
            }

            .share-row {
                display: flex;
                align-items: center;

                .share-image-content {
                    max-width: 300px;

                    .award-tat1235>div {
                        width: 100%;
                        top: 0;
                        left: -30px;
                    }
                }

                .share-text-content {
                    width: 60%;
                    flex-grow: 1;
                    flex-shrink: 0;

                    &.right {
                        display: flex;
                        flex-flow: column;
                        align-items: flex-end;
                    }
                }
            }
        }

        .activity-description {
            width: calc(100% - 20px);
            margin: 0 auto;
            box-sizing: border-box;
            padding: 30px 15px;

            h2 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }

    .product-wrapper {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, auto);

        .product-switch {
            grid-column: initial;
            grid-row-start: 1;
        }

        .product-title {
            grid-row-start: 2;
            margin: 20px 0 0;

            h3 {
                font-size: 15px;
            }

            h1 {
                font-size: 20px;

                span {
                    font-size: 20px;
                }

                sub {
                    font-size: 15px;
                }
            }
        }

        .product-images {
            grid-row-start: 3;
            grid-row-end: initial;
            padding: 20px 0;
        }

        .product-description {
            h4 {
                font-size: 16px;
                margin-bottom: 5px;
            }

            p {
                font-size: 14px;
            }
        }

        .product-links h5 {
            display: inline-block;
            padding: 3px 8px;
            border-radius: 90px;
            background-color: $main-dark;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
        }
    }

    .card.video .card-header {
        width: 100%;
        height: 60px;
        justify-content: flex-start;
        overflow-x: auto;
        padding: 0 9px;
        box-sizing: border-box;

        ul {
            gap: 15px;

            a {
                font-size: 15px;
                white-space: nowrap;
                text-shadow: 1px 1px 5px $main-dark;
            }
        }
    }

    .card.introduction {
        height: auto;
        max-height: none;
        .card-content {
            flex-flow: column;
            .intr-content-wrapper{
                padding: 23px 10px;
            }
            .intr-nav {
                width: 100%;
                min-width: 115px;
                padding: 0;
    
                ul {
                    width: 100%;
                    flex-flow: row;
                    li {
                        min-width: 110px;
        
                        a {
                            font-size: 16px;
                        }
        
                        &.active {
                            border-bottom-left-radius:0;
                            border-top-left-radius:0;
                            a {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
    
            .intr-content-wrapper .intr-content {
                padding: 0;
                background-color: transparent;
    
                .intr-inner {
                    font-size: 16px;
    
                    h1 {
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .card.video .video-footer {
        min-height: 160px;

        .vf-wrapper .vf-content {
            width: 90.5%;
            right: 0;
            gap: 10px;

            .vf-name {
                width: 80px;
                height: 80px;
                margin-left: 18px;

                h1 {
                    font-size: 24px;
                }
            }

            .vf-description {
                h1 {
                    font-size: 16px;
                    margin-bottom: 8px;
                }

                h2 {
                    font-size: 13px;
                }

                .read-more {
                    margin-top: 2px;

                    a {
                        font-size: 12px;
                    }
                }

                .vf-stars {
                    margin-bottom: 7px;

                    li {
                        width: 20px;
                    }
                }
            }
        }
    }

    .qr-codes .qr-code span{
        font-size: 20px;
    }

    .step-list{
        grid-template-columns: 1fr;
        gap: 15px;
        span:nth-child(2){
            grid-row-start: 3;
        }
        span:nth-child(5){
            grid-row-start: 5;
        }
        span:nth-child(6){
            grid-row-start: 7;
        }
    }
    .step-list span{
        margin-top: 30px;
        font-size: 20px;
    }

    .qr-codes{
        justify-content: center;
        .qr-code{
            width: 150px;
            span{
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width:768px) {
    .card-header h1{
        font-size: 30px;
    }
}